# editor trash #
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.externalToolBuilders
.metadata
.checkstyle
.idea
*.iws
*.iml
*.ipr
.vscode


# maven release trash
release.properties
pom.xml.*
.flattened-pom.xml
.m2/
.sonar/
.java-version

# binaries  #
*.class

# package files #
*.jar
*.war
*.ear
*.tar.gz
*.tgz
*.zip

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# temp storage #
temp/
tmp/

# log files #
*.log
logs/*

# build junk #
**/jspm_packages/
**/build/
**/node_modules/
**/bower_components/
**/dist/
target/

# runtime data #
pids
*.pid
*.seed
*.pid.lock

# provisioning #
.ssh
.netrc

# filesystem junk #
.DS_Store
*.ldb
*.url